<!doctype html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>系统提示</title>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <script src="__STATIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__STATIC__/js/xadmin.js"></script>
        <link rel="stylesheet" href="__STATIC__/css/font.css">
        <link rel="stylesheet" href="__STATIC__/css/xadmin.css">
    </head>
    <body>
        <div class="layui-container">
            <div class="fly-panel">
                <div class="fly-none">
                    <?php switch ($code) {?>
                        <?php case 1:?>
                        <h3><i class="layui-icon layui-icon-face-smile"></i></h3> 
                        <p class="success"><?php echo(strip_tags($msg));?></p>
                        <?php break;?>
                        <?php case 0:?>
                        <h3><i class="layui-icon layui-icon-face-cry"></i></h3> 
                        <p class="error"><?php echo(strip_tags($msg));?></p>
                        <?php break;?>
                    <?php } ?>
                    <p class="detail"></p>
                    <p class="jump">
                        页面自动 <a id="href" href="<?php echo($url);?>">跳转</a> 等待时间： <b id="wait"><?php echo($wait);?></b>
                    </p>
                </div>
            </div>
        </div>


        <script type="text/javascript">
            (function(){
                var wait = document.getElementById('wait'),
                    href = document.getElementById('href').href;

                var interval = setInterval(function(){
                    var time = --wait.innerHTML;
                    if(time <= 0) {
                        if(parent.layer != undefined && parent.layer.getFrameIndex(window.name)){
                            xadmin.close();
                        }
                        location.href = href;
                        clearInterval(interval);
                    };
                }, 1000);
            })();
        </script>
    </body>
</html>